/* Active */
.menu__link .menu__link--items .active {
  color: var(--orange);
}

/* About Header Section */
.about {
  padding: 6rem 0 8rem 0;
  text-align: center;
}

.about .about__title--small {
  font-size: 1.5rem;
  color: var(--orange);
  font-weight: 400;
}

.about .about__title--large {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--orange);
}

.about .about__description {
  background-color: var(--white);
  border: 2px solid var(--white);
  padding: 2rem;
  margin: 2rem 0 3rem 0;
}

.about .about__date {
  color: var(--black);
  font-weight: bolder;
}

.about .about__date--time {
  opacity: 0.9;
}

.about .about__date--email {
  font-weight: bolder;
  color: var(--black);
  text-decoration: underline;
}
/* End of Section */

.main {
  text-align: center;
}

.main .about__main--title,
.main .event__main--title {
  font-size: 1.5rem;
  position: relative;
  padding: 2rem 0;
}

.main .about__main--title::before,
.main .event__main--title::before {
  content: '';
  position: absolute;
  width: 70px;
  top: 70px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  background-color: var(--orange);
}

.main .about__logo--title {
  padding: 2rem;
  margin: 2rem;
  border: 2px solid var(--grey);
}

.event {
  border-top: 2px solid var(--grey);
  padding: 2rem 0;
}

.event .event__content {
  display: grid;
  gap: 2rem;
  color: var(--white);
}

.event .about__main--description {
  padding: 1rem 0;
  font-size: 1.1rem;
}

.event .event__content--img {
  position: relative;
}

.event .event__content--img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  opacity: 0.9;
  background: var(--orange);
}

.event .event__content--text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event .event__content--text h2 {
  font-size: 5rem;
}

.event .event__content--text p {
  font-size: 1.2rem;
}
/* End of Main Section Program */

/* Media Queries for desktop */
@media screen and (min-width: 768px) {
  .about {
    padding: 6rem 0 12rem 0;
  }
  .about .about__title--small {
    font-size: 2rem;
  }
  
  .about .about__title--large {
    font-size: 3.5rem;
  }
  
  .about .about__description {
    font-size: 1.2rem;
    width: 65%;
    margin: 2rem auto;
  }

  .event .event__content {
    grid-template-columns: repeat(2, 1fr);
  }
}



