@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --black: #272a31;
  --orange: #ec5242;
  --grey: #d3d3d3;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 1rem;
}

ul li {
  list-style-type: none;
  display: block;
}

a, a:link, a:focus {
  text-decoration: none;
}

.background {
  background: url(/images/home-bg-desk.png) no-repeat top center/cover;
  height: 100vh;
}

/* Social Navigation */
.nav {
  background-color: var(--black);
  padding: 1rem;
}

.nav .nav__social,
.nav .nav__social .nav__link,
.menu .menu__container,
.menu .menu__link {
  display: flex;
  align-items: center;
}

.nav .nav__social {
  justify-content: center;
}

.nav .nav__social .nav__link {
  gap: 1rem;
}

.nav .nav__social .nav__link .nav__link--items {
  color: var(--white)
}
/* End of social navigation */

/* Menu Navigation */
.menu {
  padding: 1rem 0;
  box-shadow: 0px 10px 10px -15px var(--black); 
  background: rgba(255, 255, 255, 0.7);
}

.menu .menu__logo .menu__logo--img {
  height: 50px;
}

.menu .menu__logo .menu__logo--hamburger {
  display: none;
}

.menu__container {
  justify-content: space-between;
}

.menu .menu__link {
  gap: 2.5rem;
}

.menu .menu__link .menu__link--items {
  font-weight: 700;
  color: var(--black);
  opacity: 0.6;
}

.menu .menu__link .menu__link--campaign {
  font-weight: 700;
  color: var(--orange);
  border: 3px solid var(--orange);
  padding: 1rem;
}
/* End of Menu Navigation */

/* Header Section */
.header {
  padding: 4rem 0;
}
/* End of Section */

/* Mobile Navigation */
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .background {
    background: url(/images/mobile\ background.png) no-repeat top center/cover;
    height: 100vh;
  }

  .menu {
    box-shadow: none;
    background: rgba(255, 255, 255, 0);
  }

  .menu .menu__link {
    position: fixed;
    left: -100%;
    height: 100vh;
    top: 0;
    width: 100%;
    background: var(--white);
    flex-direction: column;
    justify-content: center;
    transition: left 0.5s;
  }

  .menu .menu__link.open {
    left: 0;
  }

  .menu .menu__logo .menu__logo--img {
    display: none;
  }
  
  .menu .menu__logo .menu__logo--hamburger {
    display: block;
    position: absolute;
    top: 20px;
    z-index: 100;
  }
}
/* End of Mobile Navigation */