@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --black: #272a31;
  --orange: #ec5242;
  --grey: #d3d3d3;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background: var(--white);
  color: var(--black);
  font-weight: 400;
  line-height: 1.7;
}

.overflow {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 1rem;
}

ul li {
  list-style-type: none;
  display: block;
}

a,
a:link,
a:focus {
  text-decoration: none;
}

.background {
  background: url('../images/home-bg-desk.png') no-repeat top center/cover;
}

/* Social Navigation */
.nav {
  background-color: var(--black);
  padding: 0.3rem;
}

.nav .nav__social,
.nav .nav__social .nav__link,
.menu .menu__container,
.menu .menu__link {
  display: flex;
  align-items: center;
}

.nav .nav__social {
  justify-content: center;
}

.nav .nav__social .nav__link {
  gap: 1rem;
}

.nav .nav__social .nav__link .nav__link--items {
  color: var(--white);
}

/* End of social navigation */

/* Menu Navigation */
.menu {
  box-shadow: 0 10px 10px -15px var(--black);
  background: rgba(255, 255, 255, 0.7);
}

.menu .menu__logo .menu__logo--img {
  height: 70px;
}

.menu .menu__logo .menu__logo--hamburger {
  display: none;
}

.menu .menu__container {
  justify-content: space-between;
}

.menu .menu__link {
  gap: 1.5rem;
}

.menu .menu__link .menu__link--items {
  font-weight: 700;
  color: var(--black);
  opacity: 0.6;
  transition: 0.5s;
  font-size: 1.5rem;
}

.menu .menu__link .menu__link--items:hover,
.menu .menu__link .menu__link--items:focus,
.menu .menu__link .menu__link--items:active {
  color: var(--orange);
}

.menu .menu__link .menu__link--campaign {
  font-weight: 700;
  color: var(--orange);
  border: 3px solid var(--orange);
  padding: 1rem 0.5rem;
}

/* End of Menu Navigation */

/* Header Section */
.header {
  padding: 6rem 0 8rem 0;
}

.header .header__title--small {
  font-size: 1.5rem;
  color: var(--orange);
  font-weight: 400;
}

.header .header__title--large {
  background-image: url('../images/header\ background.jpeg');
  font-size: 2.5rem;
  font-weight: 900;
  -webkit-background-clip: text;
  color: transparent;
}

.header .header__description {
  background-color: rgba(238, 238, 238, 0.9);
  border: 2px solid var(--white);
  padding: 1rem;
  margin: 2rem 0;
}

.header .header__date {
  color: var(--black);
  font-weight: bolder;
}

.header .header__date--time {
  font-size: 2rem;
  opacity: 0.9;
}

.header .header__date--location {
  opacity: 0.8;
}

/* End of Section */

/* Main Section Program */
.program {
  color: var(--white);
  text-align: center;
  background-color: #272a31;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%237b7d83' fill-opacity='0.07'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
}

.program .program__title,
.speaker .speaker__title,
.partner .partner__title {
  font-size: 1.5rem;
  position: relative;
  padding: 2rem 0;
  text-align: center;
}

.program .program__title::before,
.speaker .speaker__title::before,
.partner .partner__title::before {
  content: '';
  position: absolute;
  width: 70px;
  top: 70px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  background-color: var(--orange);
}

.program .program__content {
  display: grid;
  gap: 5px;
}

.program .programs {
  display: grid;
  grid-template-columns: 0.5fr 1fr 3fr;
  background: rgba(184, 180, 180, 0.3);
  align-items: center;
  padding: 2rem;
  gap: 8px;
  text-align: left;
}

.program .programs:hover {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.program .programs .programs__title {
  font-size: 1rem;
  color: var(--orange);
  align-items: center;
}

.program .program__btn {
  background: var(--orange);
  color: var(--white);
  padding: 1.5rem 2.5rem;
  font-weight: 700;
  cursor: pointer;
  border: 0;
  margin: 3rem 0;
  transition: opacity 0.5s;
}

.program .program__btn:hover {
  opacity: 0.8;
}

.program .program__btn--link {
  display: none;
  margin: 3.5rem 0;
  background: transparent;
  border: 0;
  color: var(--white);
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 2px solid var(--white);
}

.program .program__btn--link:hover {
  border-bottom: 2px solid transparent;
}

/* End of Main Section Program */

/* Main section speaker */
.speaker {
  padding: 3rem 0;
}

.speaker .speaker__content {
  padding: 2rem;
  display: grid;
  align-items: center;
  gap: 1rem;
}

.speaker .speaker__container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  margin: 2rem 0;
  gap: 0.8rem;
}

.speaker .speaker__content--img {
  position: relative;
}

.speaker .speaker__chess {
  position: absolute;
  max-width: 100%;
  left: -12px;
  height: 65px;
  top: -12px;
  z-index: -1;
}

.speaker .speaker__title {
  text-align: center;
  color: var(--black);
}

.speaker .speaker__content--name,
.speaker .speaker__content--description {
  color: var(--black);
}

.speaker .speaker__content--name {
  font-size: 1.2rem;
}

.speaker .speaker__person {
  height: 100px;
}

.speaker .speaker__content--title {
  color: var(--orange);
}

.speaker .speaker__btn {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: 2px solid var(--grey);
  color: var(--black);
  background-color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.6;
  width: 100%;
  cursor: pointer;
}

.speaker .speaker__btn .fa-chevron-down {
  color: var(--orange);
}

/* End of Main section speaker */

/* Spnsors */
.partner {
  background-color: var(--black);
  padding-bottom: 2rem;
}

.partner .partner__title {
  color: var(--white);
}

.partner .partner__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.partner div .partner__logo {
  height: 90px;
  justify-self: center;
  align-self: center;
}

/* End of Partner */

/* Footer */
.footer .footer__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.footer .footer__logo span {
  font-size: 3rem;
  color: var(--black);
}

.footer__description p {
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* End of Footer */

/* Desktop View */
@media screen and (min-width: 768px) {
  .nav .nav__social {
    justify-content: flex-end;
  }

  .menu .menu__link .menu__link--items {
    font-size: 1rem;
  }

  .header {
    padding: 6rem 0 12rem 0;
  }

  .header .header__title--small {
    font-size: 2rem;
  }

  .header .header__title--large {
    font-size: 3.5rem;
  }

  .header .header__description {
    font-size: 1.2rem;
    width: 65%;
  }

  .program .program__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .program .program__btn {
    display: none;
  }

  .program .program__btn--link {
    display: inline-block;
  }

  .program .programs {
    grid-template-columns: 1fr;
    text-align: center;
  }

  /* Speakers */
  .speaker .speaker__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .speaker .speaker__person {
    max-width: 100%;
    height: auto;
  }

  /* Sponsors */
  .partner .partner__content {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Mobile Navigation */
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .background {
    background: url('../images/mobile\ background.png') no-repeat top center/cover;
  }

  .menu {
    box-shadow: none;
    background: rgba(255, 255, 255, 0);
  }

  .menu .menu__link {
    position: fixed;
    left: -100%;
    height: 100vh;
    top: 0;
    width: 100%;
    background: var(--white);
    flex-direction: column;
    justify-content: center;
    transition: left 0.5s;
    z-index: 99;
  }

  .menu .menu__link.open {
    left: 0;
  }

  .menu .menu__logo .menu__logo--img {
    display: none;
  }

  .menu .menu__logo .menu__logo--hamburger {
    display: block;
    position: fixed;
    top: 20px;
    color: var(--black);
    text-decoration: none;
    z-index: 100;
  }
}

/* End of Mobile Navigation */
